body.contatos{
    background-image: linear-gradient(90deg, #0c0908, #21201f);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo-links img{
    width: 120px;
    margin-top: 40px;
}

.container{
    border: 2px solid #ff260077;
    width: 500px;
    height: 800px;
    align-items: center;
    border-radius: 20px;
    margin-left: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    background-color: rgb(25, 25, 25);
}

.btn-wpp a{
    border: 1px solid rgb(254, 255, 254);
    background-color: green;
    color: aliceblue;
    padding: 5px;
    border-radius: 15px;
    height: 50px;
    width: 250px;
    text-align: center;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


.btn-wpp :hover{
    font-size: 18px;
    color: #0c0908;
    background-color: rgb(33, 160, 18);
    transition: all 0.5s;
}

.btn-fac a{
    border: 1px solid rgb(254, 255, 254);
    background-color:blue;
    color: aliceblue;
    padding: 5px;
    border-radius: 15px;
    height: 50px;
    width: 250px;
    text-align: center;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-fac :hover{
    font-size: 18px;
    color: #0c0908;
    background-color: rgb(44, 39, 190);
    transition: all 0.5s;
}

.btn-inst a{
    border: 1px solid rgb(254, 255, 254);
    background-image: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c,#fd1d1d);
    color: aliceblue;
    padding: 5px;
    border-radius: 15px;
    height: 50px;
    width: 250px;
    text-align: center;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-inst :hover{
    font-size: 18px;
    color: #0c0908;
    background-image: linear-gradient(45deg,#fd1d1d,#e1306c,#c13584,#833ab4,#5851db,#405de6);
    transition: all 0.5s;
}

.btn-mail a{
    border: 1px solid rgb(254, 255, 254);
    background-color:rgb(100, 122, 166);
    color: aliceblue;
    padding: 5px;
    border-radius: 15px;
    height: 50px;
    width: 250px;
    text-align: center;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-mail :hover{
    font-size: 18px;
    color: #0c0908;
    background-color: rgba(39, 112, 190, 0.582);
    transition: all 0.5s;
}

.btn-cel a{
    border: 1px solid rgb(254, 255, 254);
    background-color:rgb(133, 133, 244);
    color: aliceblue;
    padding: 5px;
    border-radius: 15px;
    height: 50px;
    width: 250px;
    text-align: center;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-cel :hover{
    font-size: 18px;
    color: #0c0908;
    background-color: rgb(123, 121, 165);
    transition: all 0.5s;
}

.btn-tel a{
    border: 1px solid rgb(254, 255, 254);
    background-color:rgb(104, 103, 126);
    color: aliceblue;
    padding: 5px;
    border-radius: 15px;
    height: 50px;
    width: 250px;
    text-align: center;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-tel :hover{
    font-size: 18px;
    color: #0c0908;
    background-color: rgb(192, 188, 255);
    transition: all 0.5s;
}

i{
    margin-right: 8px;
}

@media (max-width: 414px) {
    .container {
      margin: 20px auto; 
      width: 90%;
    }

    header{
        width: 412px;
    }
  }